/* *{background: red} */
body{
  margin: 0;
}
.caja{
  border: 2px solid red;
  height: 50px;
  margin: 50px
}

.caja2{
  border: 2px solid red;
  margin: 50px;
  padding: 20px 100px 20px 10px;
}
.titulo{
  display: block;
}
