body{
  font-family: arial, helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


header{
  height: 200px
}

header nav {
  float: right;
  margin: 15px 20px 15px 20px
}


header a{
margin: 15px 10px;
font-size:13px;

}


header img {vertical-align: middle;}
#apps {
  width: 15px;
}
#perfil {
  width: 18px;
  border-radius: 40px
}


ESTILO DE SECCION GOOGLE
.logoogle {
  max-width: 40%;
  margin:0 auto;
}

.logoogle{
  max-width: 100%;
}

ESTILO DE LA SECCION BUSQUEDA

.busqueda input


footer{
  position: fixed;
  bottom: 0;

}
